
.container{
      padding-top: 1rem;
    }


.nav label{
	color: #d3d3d3;

}
.btn-success{
	margin-left: 4rem;
}
.t-main{
	margin-top: 2REM;
	width: 50%;

}

.container{
			padding-top: 1rem;
		}
		.header{
			font-size: 20px;
		}


.card{
	margin-top: .5rem;
	margin-bottom: .6rem;
}

.footer{
 	background-color: #3f3f3f;
 	color: #d5d5d4;
 	padding-top: 2rem;
 }